@using Microsoft.AspNetCore.Identity

@inject UserManager<IdentityUser> UserManager

<br />

@{
    ViewData["Title"] = "Information";
}

<br />


<div class="row">
    <div class="col-xs-6 col-md-4">
        <br />
        <img src="~/images/lavender900px.jpg" class="img-responsive img-circle"/>
        <br />
        <h4>@UserManager.GetUserName(User) Please Contact Us Below!</h4>
        <p>
            Andrew Andresen<br />
            CS499<br />
            Final Project<br />
        </p>
        <address>
            <strong>Support:</strong> <a href="mailto:Support@gardenhelper.com">Support@gardenhelper.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@gardenhelper.com">Marketing@gardenhelper.com</a>
        </address>


    </div>

</div>